In [5]:
import requests as r

# Making GET Request to jsonplaceholder REST API

In [68]:
api_url = "https://jsonplaceholder.typicode.com/todos/1"

In [9]:
response = r.get(api_url)
response_obj = response.json()

In [13]:
response_obj

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [10]:
type(response_obj)

dict

### Ways to print the parameters returned by the API

### Method-1

#### Method 1: Parameters

In [32]:
for parameters,values in response_obj.items():
    print(parameters)

userId
id
title
completed

#### Method 1: Values

In [35]:
for parameters,values in response_obj.items():
    print(values)

1
1
delectus aut autem
False

### Method-2

#### Method2: Parameters

In [34]:
list(response_obj.keys())

['userId', 'id', 'title', 'completed']

#### Method2: Values

In [36]:
list(response_obj.values())

[1, 1, 'delectus aut autem', False]

In [37]:
list(response_obj.items())

[('userId', 1),
 ('id', 1),
 ('title', 'delectus aut autem'),
 ('completed', False)]

# Making POST Request to jsonplaceholder REST API

In [38]:
post_content = {'userId':1,'title':'milk','completed':False}

In [61]:
post_content2 = {'userId':2,'title':'cheese','completed':False}

In [49]:
api_url2 = 'https://jsonplaceholder.typicode.com/todos'

In [65]:
post_response = r.post(api_url2, json=post_content) #json=post_content serializes post_content dict into a json string

In [51]:
post_response.json()

{'userId': 1, 'title': 'milk', 'completed': False, 'id': 201}

In [62]:
post_response2 = r.post(api_url2, json=post_content2)

In [63]:
post_response2.json()

{'userId': 2, 'title': 'cheese', 'completed': False, 'id': 201}

In [64]:
r.get("https://jsonplaceholder.typicode.com/todos/201").json() 
# I think the created post resource is getting deleted and hence not retrievable

{}

In [90]:
r.get("https://jsonplaceholder.typicode.com/todos/").json()[0]

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [87]:
import pandas as pd

In [91]:
Series1 = pd.Series()
Series2 = pd.Series()
Series3 = pd.Series()
Series4 = pd.Series()

<ipython-input-91-fdedbe535232>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series1 = pd.Series()
<ipython-input-91-fdedbe535232>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series2 = pd.Series()
<ipython-input-91-fdedbe535232>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series3 = pd.Series()
<ipython-input-91-fdedbe535232>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Series4 = pd.Series()

In [89]:
table = pd.DataFrame()

# Making PUT Request to jsonplaceholder REST API

In [111]:
put_content = {'userId': 1,'title': 'cow-milk', 'completed': True}
resp = r.put("https://jsonplaceholder.typicode.com/todos/10", json=put_content)
resp.json()
resp.status_code

200

In [127]:
k = r.get("https://jsonplaceholder.typicode.com/todos/") #these are immutable
type(k.json())

list

In [200]:
l1 = []
l2 = []
l3 = []
l4 = []

In [201]:
for i in range(len(k.json())):
    l1.append(k.json()[i]['userId'])
    l2.append(k.json()[i]['id'])
    l3.append(k.json()[i]['title'])
    l4.append(k.json()[i]['completed'])

In [202]:
col1 = pd.DataFrame(l1, columns=['userId'])
col2 = pd.DataFrame(l2, columns=['id'])
col3 = pd.DataFrame(l3,columns=['title'])
col4 = pd.DataFrame(l4,columns=['completed'])

In [203]:
col1

     userId
0         1
1         1
2         1
3         1
4         1
..      ...
195      10
196      10
197      10
198      10
199      10

[200 rows x 1 columns]

In [204]:
col2

      id
0      1
1      2
2      3
3      4
4      5
..   ...
195  196
196  197
197  198
198  199
199  200

[200 rows x 1 columns]

In [205]:
col3

                                                 title
0                                   delectus aut autem
1                   quis ut nam facilis et officia qui
2                                  fugiat veniam minus
3                                     et porro tempora
4    laboriosam mollitia et enim quasi adipisci qui...
..                                                 ...
195                consequuntur aut ut fugit similique
196                  dignissimos quo nobis earum saepe
197                       quis eius est sint explicabo
198                       numquam repellendus a magnam
199                       ipsam aperiam voluptates qui

[200 rows x 1 columns]

In [206]:
col4

     completed
0        False
1        False
2        False
3         True
4        False
..         ...
195       True
196       True
197       True
198       True
199      False

[200 rows x 1 columns]

In [207]:
table = pd.concat([col1,col2,col3,col4],axis=1)

In [208]:
table

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]